.doctor-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }
  
  .doctor-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .doctor-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .book-appointment-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .img {
    height: 10%;
  }
  
  .doc_main_profile_para{
    padding-left: 30%;
    padding-right: 30%;
  }

  /* CSS for the "real-doc" class */
.real-doc {
  margin: auto;
  width: 30%; /* Set the desired width */
  border-radius: 50%; /* Make it circular by setting the border-radius to half of the width/height */
}

.buttonlogout1{
  display: 'flex';
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 40px;
  width: 170px;
  border: none;
  background: #FF9F00;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 2%;
}

.apptable{
  width: 100%;
}