.login-container{
    background-image: url('../Images/login-form-image.jpg');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5% auto;
    min-height: 80vh;
    min-width: 80vw;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Raleway';
}

.login-background-box{
    width: 70%;
    margin: auto;
    background: rgba(250, 250, 249, 0.9);
    border: 2px solid #DFDFDF;
    box-shadow: 8px 5px 20px 2px rgba(0, 0, 0, 0.15);
    padding: 0;
    border-radius: 20px;
}

.link-signup{
    margin: 10%;
    text-align: right;
    display: flex;
    flex-direction: row;
}

.link-signup p{
    margin:  0 15%;
}

.login-heading{
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin: 0 13%;
    text-align: left;
}

.login-heading span{
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
    margin: 10% 10%;
}

.login-item{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 2% 5%;
}

.login-item label{
    font-size: large;
    font-weight: bold;
    color: #464444;
    margin: 3% 0;
}

.login-item input{
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}

.login-button{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 93%;
    margin: 30px auto;
    height: 40px;
    background: #F2AF3E;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: bold;
    color: #464444;
}

.sign-up-button-1{
    background: #F2AF3E;
    width: 128px;
    height: 38px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 300px;
    align-items: center;
    justify-content: center;
}

.sign-up-button:hover, .login-button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out; 
}

/* For devices with a screen width of less than 600px */
@media screen and (max-width: 600px) {
    .login-container{
        display: none img;
    }
    .login-heading span{
        font-size: 20px;
        font-weight: bold;
    }
    .login-background-box{
      width: 90%;
    }
    .login-item input{
      width: 90%;
    }
    .login-form{
      margin: 10% 5%;
    }
  }
  
  /* For devices with a screen width of more than 600px */
  @media screen and (min-width: 600px) {
    .login-background-box{
      width: 50%;
    }
    .login-form{
      margin: 10% 10%;
    }
  }
  .error_message {
    position: absolute;
    font-family:"Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 12px;
    color: rgb(255, 0, 0);
    left: 619px;
    top: 710px;
    animation: shake 0.67s linear infinite;
  }

  @keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-5px, 0); }
    20% { transform: translate(5px, 0); }
    30% { transform: translate(-5px, 0); }
    40% { transform: translate(5px, 0); }
    50% { transform: translate(-5px, 0); }
    60% { transform: translate(5px, 0); }
    70% { transform: translate(-5px, 0); }
    80% { transform: translate(5px, 0); }
    90% { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
  }